@media screen and (min-width: 417px) {
	main {
		display: grid;
		justify-content: center;
		align-items: center;
	}

	.container {
		max-width: 416px;
	}

	.html {
		height: 100%;
	}

	body {
		padding: 0;
		display: block;
		align-items: center;
		height: 100%;
	}
}

body {
	background-color: hsl(216, 12%, 8%);
	color: white;
	padding: 151px 23px;
	Font-size: 15px;
	font-family: overpass;
	font-weight: 400;
}

.container {
	padding: 30px;
	background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
	border-radius: 30px;
	max-width: 416px;
	margin: auto;
}

.card-inner {
	padding: 27px;
}

main {
	padding-top: 5%;
	margin: auto;
}

.class-wrapper .rate {
	border-radius: 50px;
	border: 0px solids;
	align-items: center;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	background: #262E38;
	color: #7C8798;
}

.class-wrapper .rate:hover {
	background-color: hsl(25, 97%, 53%);
	color: white;
}

.star-icon {
	width: 40px;
	height: 40px;
	border-radius: 50px;
	border: 0px solid;
	background: #262E38;
	display: grid;
	align-items: center;
	justify-content: center;
}

.class-wrapper {
	display: flex;
	justify-content: space-between;
}

.sub-button {
	background-color: hsl(25, 97%, 53%);
	display: block;
	height: 40px;
	width: 100%;
	margin-top: 40px;
	border: none;
	border-radius: 22.5px;
	color: white;
	text-align: center;
	text-transform: uppercase;
}

.sub-button:hover {
	background-color: white;
	color: hsl(25, 97%, 53%);
}

.feedba {
	height: 40%;
	display: grid;
	align-items: center;
	justify-content: center;
}

.card-thank-you img {
	display: block;
	margin: 0px auto 25px;
}

.card-thank-you {
	text-align: center;
}

.rating-wrap {
	height: 32px;
	display: inline-block;
	padding: 0 12px;
	line-height: 24px;
	color: #FC7614;
	background-color: #262E38;
	border-radius: 22.5px;
	margin-bottom: 30px;

}
.card-thank-you h1{
	margin-top: 0;
	margin-bottom: 21px;
}