body{
	background-color: hsl(216,12%,8%);
	color: white;
	padding: 151px 23px;
	Font-size : 15px;
	font-family: overpass;
	font-weight: 400;
}
.container{
	padding: 30px;
	background-color: hsl(213, 19%, 50%);
	border-radius: 10px;
}

main{
	padding-top: 5%;
	margin: auto;
}